name: Deploy Splunk Rules
on:
  push:
    paths:
      - 'rules/**/**' #gli "**" per indicare indicare la ricorsività


jobs:

  sigma_validate: #nome del job
    runs-on: self-hosted #per fare comunicare github con il server splunk locale

    steps:
      - uses: actions/checkout@v4 #@v4 indica la versione, controllata su https://github.com/marketplace/actions/checkout
      #serve per caricare i contenuti del mio repo nel runner (quindi le rules e scripts) nel runner
      - run: pip install check-jsonschema
      - run: |
          curl -o sigma-schema.json https://raw.githubusercontent.com/SigmaHQ/sigma/master/tests/validate-sigma-schema/sigma-schema.json
          check-jsonschema --schemafile sigma-schema.json rules/**/**/*.yml
      #serve per validare le Sigma rules con sigma-schema.json presente su SigmaHQ

  splunk_deploy: #nome del job
    needs: sigma_validate #per non fare eseguire il job in parallelo, indico che deve prima terminare con successo il primo
    #ossia la validazione della regola deve terminare con successo:
    runs-on: self-hosted #per fare comunicare github con il server splunk locale
    container: python:3.13-slim
    
    steps:
      - uses: actions/checkout@v4 #@v4 indica la versione, controllata su https://github.com/marketplace/actions/checkout
        with:
          fetch-depth: 0 #scarica la storia dei commit per permettere il check fatto da SavedSearchDeleter.py

      - run: sudo apt update -y && sudo apt install git -y #serve git per lo script "SavedSearchDeleter.py"
      - run: pip install pysigma pysigma-backend-splunk pysigma-pipeline-sysmon

      #fa il check tra il commit passato e il presente; Elimina le regole su Splunk se verifica che è stata eliminata una regola nel repo
      - run: python scripts/SavedSearchDeleter.py
        env: #lo script in python carica le variabili di sistema per url e token di splunk, quindi li carico dai secrets
            SPLUNK_HOST: ${{ secrets.SPLUNK_HOST }}
            SPLUNK_TOKEN: ${{ secrets.SPLUNK_TOKEN }}
            
      
      - run: python scripts/Sigma-SPLconverter.py
        env: #lo script in python carica le variabili di sistema per url e token di splunk, quindi li carico dai secrets
            SPLUNK_HOST: ${{ secrets.SPLUNK_HOST }}
            SPLUNK_TOKEN: ${{ secrets.SPLUNK_TOKEN }}

      - name: Fix Permissions for Runner Cleanup
        if: always()
        run: chown -R 1000:1000 .
            

    
